<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="mylayout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
<meta charset="utf-8">
<title>Caddy</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="col-md-4 col-xs-8">
			<div class="panel panel-primary">
				<div class="panel-heading">Valider votre caddy</div>	
				<div class="panel-body">
				
				
					<table class = "table">
						<tr>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Id</th> <th>Description</th> <th>Price</th> 
						</tr>
						<tr th:each="a:${listArticlesCommande}">
							<td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${a.id}"> </td>
							<td th:text="${a.description}"> </td>
							<td th:text="${a.price}"> </td>
							
							<td>								  									<!-- après une suppression, pour garder le même contexte ou page --> 	
								<a class="btn btn-danger" onclick="return confirm('Are you sure ?')" th:href="@{ /deleteArticleCommande (id=${a.id})}" >Delete</a> 
							</td>
							
							<td>								  									 	
								<a class="btn btn-info" th:href="@{ /quantité (id=${a.id}) }" >Quantité</a> 
							</td>							
						</tr>	
					</table>
					<form th:action="@{/verifLogin}" method="post">					
							<button type="submit" class="btn btn-primary">Valider commande</button>				
					</form>
				</div>
			</div>
		</div>
	</div>
	
</body>

</html>